

#home {
    background-color: #FF6363;
    color: #fff;
}

.home-image {
    width:60%;
}







/* footer */
#footer {
    background-color: #FF6363;
    text-align: center;
}

.media {
    color: #fff;
}

.media:hover {
    color: bisque;
    transform: scale(1.1);
}